
.body {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/virus.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}